<app-public-menu></app-public-menu>
<div class="heading">
    <div class="container">
        <div class="heading-1">
            <div class="d-flex flex-row justify-content-end">
                <div class="d-flex inline">
                    <p class="text-h2">About us</p>
                    <div class="justify-content-end">
                        <img src="/assets/image/about/about us img02_1@4x-8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="group-main">
    <div class="container">
        <div class="banner-bg p-5">
            <h2> We at Back</h2>
            <p class="text-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta dolores numquam a vero sit porro
                sapiente
                ipsam nihil omnis provident fuga aspernatur aut ipsa iste placeat, deserunt fugiat quae.
            </p>
            <p class="text-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quia tempora consectetur
                deleniti. Odio ut
                cupiditate facere alias soluta similique excepturi vero veritatis dolorum voluptatibus? Ea consectetur,
                natus
                qui voluptates voluptate obcaecati assumenda impedit deleniti temporibus sint rem officiis sunt, velit
                quaerat,
                alias tempore laboriosam repellat dolore eaque minus vero?</p>
            <p class="text-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste debitis deleniti natus
                voluptatum nisi numquam
                aliquam provident impedit. Reprehenderit alias commodi officiis totam atque autem, cum dolore est
                molestias
                temporibus?</p>
        </div>
    </div>
</div>




<app-public-footer></app-public-footer>