<footer class=" p-5">
    <div class="section-p1 wrapper-main p-5">
        <div class="box-container mx-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="links footer">
                        <div class="d-flex justify-content-betweens">
                            <div class="p-1">
                                <h2 class="text-white text-h2">USEFUL LINKS</h2>
                                <a href="javascript:;">Home</a>
                                <a href="javascript:;">About Us</a>
                                <a href="javascript:;">Solutions</a>
                                <a href="javascript:;">Career</a>
                                <a href="javascript:;">Contact Us</a>
                                <a href="javascript:;">Resource</a>
                                <a href="javascript:;">Terms & Conditions</a>
                                <a href="javascript:;">Privecy Policy</a>
                            </div>
                            <div class="p-1">
                                <h2 class="text-white text-h2">SOLUTION</h2>
                                <a href="javascript:;">Express Line Houl</a>
                                <a href="javascript:;">Planning Management</a>
                                <a href="javascript:;">Order Management</a>
                                <a href="javascript:;">Trip Management</a>
                                <a href="javascript:;">Tracking</a>
                                <a href="javascript:;">Route Dynamic</a>
                                <a href="javascript:;">Partner Management</a>
                                <a href="javascript:;">Warehouse Management</a>
                                <a href="javascript:;">System</a>
                                <a href="javascript:;">Invoice and Billing</a>
                                <a href="javascript:;">Last Mile</a>
                            </div>
                            <div class="p-1">
                                <h2 class="text-white text-h2">INDUSTRY</h2>
                                <a href="javascript:;">E-commerce</a>
                                <a href="javascript:;">FMCG</a>
                                <a href="javascript:;">Pharma</a>
                                <a href="javascript:;">Automobile</a>
                                <a href="javascript:;">Liquor</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="javascript:;" class="logo text-white" routerLink="/home"><img
                                        src="/assets/image/logo/Logo.png" width="250px" class="logo" alt="logo"></a>
                            </div>
                            <div class="col d-flex flex-row">
                                <a href="javascript:;"> <span> <i
                                            class="fab fa-facebook p-2 m-2 bg-white text-primary border  rounded-circle"></i>
                                    </span></a>
                                <a href="javascript:;"><span> <i
                                            class="fab fa-linkedin-in p-2 m-2 bg-white text-primary border rounded-circle"></i>
                                    </span></a>
                                <a href="javascript:;"> <span> <i
                                            class="fab fa-instagram p-2 m-2 bg-white text-primary border rounded-circle"></i>
                                    </span></a>
                            </div>
                        </div>

                    </div>
                    <div class="">
                        <p class=" text-p "><b class="fw-bold text-white">GoBOLT</b> is a tech-logistics company
                            operating
                            in
                            Line Haul & Short Haul Trucking, creating
                            value through dis-intermediation, increased asset utilization and extensive use of
                            technology
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="main-card mx-auto">
                            <div class="card">
                                <div class="card-op opacity-75">
                                    <h2 class="text-white">HOW CAN WE HELP YOU?</h2>
                                    <h3 class="text-white text-h3">We are here to help you, kindly fill in the required
                                        details
                                        in the
                                        form
                                        to get in touch
                                        with us!</h3>
                                    <form class="form-card opacity-100" onsubmit="event.preventDefault()">
                                        <div class="row justify-content-between text-left mb-3">
                                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                                    class="form-control-label text-white">First
                                                    name<span class="text-danger">
                                                        *</span></label> <input type="text" id="fname" name="fname"
                                                    placeholder="first name" onblur="validate(1)"> </div>
                                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                                    class="form-control-label text-white">Last
                                                    name<span class="text-danger">
                                                        *</span></label> <input type="text" id="lname" name="lname"
                                                    placeholder="last name" onblur="validate(2)"> </div>
                                        </div>
                                        <div class="row justify-content-between text-left mb-3">
                                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                                    class="form-control-label text-white">Business email<span
                                                        class="text-danger">
                                                        *</span></label> <input type="text" id="email" name="email"
                                                    placeholder="xyz@example.com" onblur="validate(3)"> </div>
                                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                                    class="form-control-label text-white">Phone number<span
                                                        class="text-danger">
                                                        *</span></label> <input type="text" id="mob" name="mob"
                                                    placeholder="12345" onblur="validate(4)"> </div>
                                        </div>
                                        <div class="row justify-content-between text-left mb-3">
                                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                                    class="form-control-label text-white">Company<span
                                                        class="text-danger">
                                                        *</span></label> <input type="text" id="job" name="job"
                                                    placeholder="Google" onblur="validate(5)"> </div>

                                            <div class="form-group col-sm-6 flex-column d-flex"> <label
                                                    class="form-control-label text-white ">Aditional Details<span
                                                        class="text-danger">
                                                        *</span></label> <input type="text" id="mob" name="mob"
                                                    placeholder="type" onblur="validate(4)"> </div>
                                        </div>
                                        <div class="row justify-content-between text-left mb-3">
                                            <div class="form-group col-sm-4 flex-column d-flex">
                                                <button type="submit" class="btn submit-btn text-white fw-normal">Submit
                                                </button>
                                            </div>

                                            <div class="form-group flex-column d-flex">
                                                <p class="text-p">
                                                    Your information is secure. We won't ever send you spam or sell your
                                                    contact
                                                    details.
                                                </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex flex-wrap">
                    <div class="p-3 meto-bg ">
                        <p class="d-flex justify-content-center text-center text-white"><i class="fas fa-phone-volume"
                                style='font-size:36px'></i> <span class="p-2 d-flex align-items-center">+91-080
                                22554502</span>
                        </p>

                    </div>
                    <div class="p-2 meto-bg">
                        <p class="d-flex justify-content-center text-white"> <i class='fas fa-map-marker-alt mt-3'
                                style='font-size:36px'></i><span class="p-2 d-flex align-items-center"> Magnum Towers,
                                Sector-58, Gurugram, Haryana-122011</span></p>
                        <!-- <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p> -->
                    </div>
                    <div class="p-3 meto-bg">
                        <p class="d-flex justify-content-center text-white"><i class="fa fa-envelope"
                                style='font-size:36px'></i><span class="p-2 d-flex align-items-center">
                                gobolt@gmail.com</span></p>
                    </div>
                </div>

            </div>

           
        </div>
        <p class="text-center bg-secondary p-3 box-container mx-auto">Copyright @ 2022 GoBOLT</p>
    </div>
    
</footer>