<app-public-menu></app-public-menu>
<div class="container-fluid">
    <div class="main-wrapper">
        <div class="bg-top" data-bs-spy="scroll" data-bs-target="#navbar">
            <div class="main-ware">
                <div class="warehouse">
                    <div class="hero">
                        <div class="my-5">
                            <h2 class="text-h2">Improve Your <span class="text-span"> </span><br>
                                With Gobold Transport <br>
                                Management System</h2>
                            <p class="text-p">Optimise your costs with our scalable and intelligent TMS</p>
                        </div>
                        <div>
                            <img src="/assets/image/main-bg.png" alt="" class="mt-2 ml-5">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="banner-main">
            <div class="rectangle-509">
                <div class="title-509">
                    <h2 class="text-h3 text-center p-3">
                        <span class="text-span">Trusted</span> by
                        <span class="text-span"> Business</span> every where
                    </h2>
                    <hr class="hr-line">
                </div>
                <div class="all-logos">
                    <div class="d-flex flex-wrap logo-list">

                        <div>
                            <img src="/assets/image/banner-logo/TVS.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/MYNTRA.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/ITC.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/UB-GROUP.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/P&G.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/GSK.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/UNILEVER.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/GROFERS.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/DABAR.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/SIGNET.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/HIL.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/src/assets/image/banner-logo/ECOM-EXPRESS.png" class="w-75" alt="">
                        </div>


                        <div>
                            <img src="/assets/image/banner-logo/UDAAN.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/AMAZON.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/FLIPKART.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/PERFEETTI.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/KOTTARAM.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/PEPSICO.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/PATANJALI.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/BAJAJ-AGRO.png" class="w-75" alt="">
                        </div>


                        <div>
                            <img src="/assets/image/banner-logo/CARLSBERG.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/PARLE-AGRO.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/KELLOGGS.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/BRIDGESTONE.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/INDORE.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/SCHULKE.png" class="w-75" alt="">
                        </div>
                        <div>
                            <img src="/assets/image/banner-logo/JAIPUR-TUFF.png" class="w-75" alt="">
                        </div>


                    </div>
                </div>
                <div class="iso-logo d-flex justify-content-center">
                    <img src="/assets/image/ISO.png" alt="" class="w-50">
                </div>
            </div>
        </div>
        <div class="group-323 box-container mx-auto">
            <div class="">
                <p class="text-h3 text-center p-3 mt-3 text-white"> Why Choose <span class="text-span"> Us ?</span></p>
                <hr class="hr-line">
                <div class="mx-auto">
                    <div class="row mt-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <img src="/assets/image/Group-323/Group 323.png" class="w-75" alt="">
                        </div>
                        <div class="col-md-6 group-323-content">
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <img src="/assets/image/Group-323/Layer-1.png" alt="">
                                </div>
                                <div class="p-1">
                                    <p class="text-white fs-5 fw-bold">Legacy Of Innovation</p>
                                    <p class="text-white">We are innovating the transport management sector through
                                        Cutting
                                        edge
                                        technology &
                                        Extensive
                                        Network. Our Overarching Marketplace Tech </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <img src="/assets/image/Group-323/Layer2.png" alt="">
                                </div>
                                <div class="p-1">
                                    <p class="text-white fs-5 fw-bold">Sustainability</p>
                                    <p class="text-white">We are innovating the transport management sector through
                                        Cutting
                                        edge
                                        technology &
                                        Extensive
                                        Network. Our Overarching Marketplace Tech </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <img src="/assets/image/Group-323/Layer 3.png" alt="">
                                </div>
                                <div class="p-1">
                                    <p class="text-white fs-5 fw-bold">Mobility</p>
                                    <p class="text-white">We are innovating the transport management sector through
                                        Cutting
                                        edge
                                        technology &
                                        Extensive
                                        Network. Our Overarching Marketplace Tech </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <img src="/assets/image/Group-323/Layer 4.png" alt="">
                                </div>
                                <div class="p-1">
                                    <p class="text-white fs-5 fw-bold">Integration</p>
                                    <p class="text-white">We are innovating the transport management sector through
                                        Cutting
                                        edge
                                        technology &
                                        Extensive
                                        Network. Our Overarching Marketplace Tech </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <img src="/assets/image/Group-323/Layer 5.png" alt="">
                                </div>
                                <div class="p-1">
                                    <p class="text-white fs-5 fw-bold">AI & ML</p>
                                    <p class="text-white">We are innovating the transport management sector through
                                        Cutting
                                        edge
                                        technology &
                                        Extensive
                                        Network. Our Overarching Marketplace Tech </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="text-h3 text-center p-3 mt-4"> <span class="text-span">Solution</span></p>
            <hr class="hr-line">
        </div>

        <div class="solution-area d-flex justify-content-center">
            <div class="container">
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="/assets/image/solution-home/Layer 1.png" width="120px" alt="">
                            <h3>Dispatch Planning & Executione</h3>
                            <p>The all-in-one planning feature set offers an easy interface as well as task-specific.
                            </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="/assets/image/solution-home/Layer 2.png" width="90px" alt="">
                            <h3>Yard Management</h3>
                            <p>Synchronise the flow of information with the flow of goods in order to control disruptive
                                occurrences in such a way that needless.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="/assets/image/solution-home/Layer 3.png" width="120px" alt="">
                            <h3>Visibility</h3>
                            <p>Give your transportation team the visibility they need to tackle situations like delays,
                                additional charges, and invoicing concerns.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solution-area d-flex justify-content-center">
            <div class="container">
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="/assets/image/solution-home/Layer 4.png" width="90px" alt="">
                            <h3>Freight Settlement</h3>
                            <p>The advanced freight settlement solution integrated transportation management system
                                (TMS)
                                enables improved accounting and carrier invoice reconciliation.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="/assets/image/solution-home/Layer 5.png" width="120px" alt="">
                            <h3>Delivery Management</h3>
                            <p>A better delivery management system to handle every aspect of delivery from dispatching
                                to
                                live
                                tracking to deliveries based on secured OTP methods.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <div class="content">
                            <img src="/assets/image/solution-home/Layer 6.png" width="90px" alt="">
                            <h3>Analytics and Insights</h3>
                            <p>A dedicated analytics system is designed to provide improved analytics. The data allows
                                users
                                to
                                quickly obtain mission-critical transportation.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container main-ware">
            <div class="rectangle-648">
                <p class="text-h3 text-center text-primary p-3 mt-4"> Industry</p>
                <hr class="hr-line  mb-3">
                <div class="industry-area">
                    <div class="box-container mx-auto">
                        <p class="text-muted text-center fw-bolder fs-5">For Shippers,</p>
                        <h4 class="" style="color: #083654;">For Shippers, Enterprise end-to-end logistics management
                            technology
                            that is seamless and quick to use.
                            Increase the efficiency of all logistical processes, including order planning, dispatch
                            management,
                            auto-shipment allocation, yard management, real-time freight tracking, quick notifications,
                            and
                            ePOD.
                            Total logistics optimization and multi-stakeholder participation.</h4>
                        <ul class=" rounded border p-4" style="color: #083654;">
                            <li class="fs-6" style="color: #083654;">Order sorting and dispatching were made possible by
                                AI.
                            </li>
                            <li class="fs-6" style="color: #083654;">Vendor allocation is automated based on bids and
                                performance.
                            </li>
                            <li class="fs-6" style="color: #083654;">Yard activities have been completely digitised.
                                decreasing
                                check-in and check-out times</li>

                        </ul>
                    </div>
                    <div class=" mx-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="d-flex flex-row justify-content-between accordion-BG">
                                <div class="p-3">
                                    <p class="accordion-header" id="headingOne">
                                        <button class="btn  button-clpd rounded-pill fw-bold text-muted" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            E-commerce
                                        </button>
                                    </p>

                                </div>
                                <div class="p-3">
                                    <p class="accordion-header" id="headingTwo">
                                        <button class=" collapsed btn button-clpd fw-bold  rounded-pill text-muted"
                                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Liquor
                                        </button>
                                    </p>

                                </div>
                                <div class="p-3">
                                    <p class="accordion-header" id="headingThree">
                                        <button class=" collapsed btn fw-bold  button-clpd rounded-pill text-muted"
                                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            Bussiness to Bussiness
                                        </button>
                                    </p>

                                </div>
                                <div class="p-3">
                                    <p class="accordion-header" id="headingThree">
                                        <button class=" collapsed btn fw-bold  button-clpd rounded-pill text-muted"
                                            type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour"
                                            aria-expanded="false" aria-controls="collapsefour">
                                            Retail
                                        </button>
                                    </p>
                                </div>
                                <div class="p-3">
                                    <p class="accordion-header" id="headingThree">
                                        <button class=" collapsed btn  fw-bold button-clpd rounded-pill text-muted"
                                            type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive"
                                            aria-expanded="false" aria-controls="collapsefive">
                                            Pharma
                                        </button>
                                    </p>
                                </div>

                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="fs-6">By leveraging our existing <strong>assets and technology,</strong>
                                        we
                                        strive to provide
                                        the best <strong> solutions</strong> to our customers based on their
                                        <strong>e-commerce
                                            logistics needs.</strong>
                                    </p>
                                    <ul>
                                        <li class="fs-5" style="color: #083654;">
                                            <h2> Minimized deadweight loss & waiting time</h2>
                                        </li>
                                        <li class="fs-5" style="color: #083654;">
                                            <h2> Multi-channel Operations </h2>
                                        </li>
                                        <li class="fs-5" style="color: #083654;">
                                            <h2> Planning & estimating performance management </h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Liquor-section
                                </div>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Bussiness-section
                                </div>
                            </div>
                            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Retail-section
                                </div>
                            </div>
                            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Pharma-section
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-container mx-auto">
            <div class="award-main mb-5 ">
                <div class="award-section">
                    <h2 class="text-center text-h2">AWARDS</h2>
                    <hr class="hr-line">
                    <img src="" alt="">
                </div>
                <div class="d-flex  justify-content-between section-award">
                    <div class="p-1">
                        <div class="a-box">
                            <div class="img-container">
                                <div class="img-inner">
                                    <div class="inner-skew">
                                        <img
                                            src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                                    </div>
                                </div>
                            </div>
                            <div class="text-container">
                                
                                <div>
                                    This a demo experiment to skew image container. It looks good.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <div class="a-box">
                            <div class="img-container">
                                <div class="img-inner">
                                    <div class="inner-skew">
                                        <img
                                            src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                                    </div>
                                </div>
                            </div>
                            <div class="text-container">
                                
                                <div>
                                    This a demo experiment to skew image container. It looks good.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <div class="a-box">
                            <div class="img-container">
                                <div class="img-inner">
                                    <div class="inner-skew">
                                        <img
                                            src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                                    </div>
                                </div>
                            </div>
                            <div class="text-container">
                                
                                <div>
                                    This a demo experiment to skew image container. It looks good.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-public-footer></app-public-footer>