
 #header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.box-container{
    width: 85%;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: Segoe UI;
    color: black;
    transition: width 2s;
}
#navbar li a:hover,
#navbar li a.active{
   color: rgb(20, 20, 20);   
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 80%;
    height: 3px;
    background: #F7931E;
    position: absolute;
    bottom: 0px;
    left: 10px;
    border-radius: 30px;
    transition: transform 2s;
    transition-timing-function: ease-in-out;
    transition: width 2s;
}
.nav-btn{
    width: 250px;
height: 50px;
font-size: 18px;
background: transparent linear-gradient(270deg, #F7931E 0%, #FDBD72 100%) 0% 0% no-repeat padding-box;
color: white;
border: none;
}
#navbar i{
    
}


  
 


.dropdown__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown__icon {
    font-size: 1.3rem;
    transition: .5s;
  }
  
  .dropdown__menu {
    margin: 1rem 0 0 1rem;
    display: none;
  }
  
  .dropdown__item {
    margin: 1rem 0;
  }
  
  .dropdown:hover > .dropdown__menu {
    display: block;
  }
  
  .dropdown:hover .dropdown__icon {
    transform: rotate(180deg);
  }