<nav class="navbar navbar-expand-lg navbar-light shadow p-2 bg-body rounded nav-pills container-fluid" id="navbar">
  <div class="box-container d-flex justify-content-between" id="header">
    <a href="javascript:;" class="logo" routerLink="/home"><img src="/assets/image/logo/Logo.png" width="150px"
        alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto d-flex justify-content-between" id="navbar">
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/industry">Industry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="javascript:;" aria-current="page" id="dropdownMenuLink"
            routerLink="/solution" data-bs-toggle="dropdown" aria-expanded="false">Solutions <i
            class='bx bx-chevron-down dropdown__icon'></i></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Dispatch Planning & Execution</a></li>
            <li><a class="dropdown-item" href="#">Yard Management</a></li>
            <li><a class="dropdown-item" href="#">Visibility</a></li>
            <li><a class="dropdown-item" href="#">Freight Settlement</a></li>
            <li><a class="dropdown-item" href="#">Delevery Management</a></li>
            <li><a class="dropdown-item" href="#">Analtytics & Insights</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/career">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/resource">Resource <i
            class='bx bx-chevron-down dropdown__icon'></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/integration">Integration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" aria-current="page" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <div class="demo-btn">
        <button type="button" class=" nav-btn fw-normal">Request demo <i
          class="bx bx-chevron-right fs-5"></i></button>
      </div>
    </div>
  </div>
</nav>